nav.navbar-fixed-top.navbar
  div.navbar-inner
    div.container        
      ul.nav.pull-right
        li.divider-vertical       
        li.dropdown
          a.dropdown-toggle            
            span @ #{user.screen_name}
              image(src='#{user.image}').uimg-nav
            b.caret
          ul.dropdown-menu
            li
              a(href="/auth/logout/") Sign Out
                
              
.container
  h1= title 
  p #{body}
  
  div#messages
    
  
  div#input_controls.clearfix
    div.span1.user-img
      image(src='#{user.image}')
    div.span5
      input#chat_message(name='message')
    div.span2  
      button#send_message.btn.btn-large.btn-success Send Message  
        i.icon-white.icon-comment

script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='js/bootstrap.min.js');
script(type='text/javascript', src='js/script.js');
script(type='text/javascript', src='nowjs/now.js')
script(type='text/javascript', src='js/now-script.js')